.logoInicial {
    width: 57%;
}

.shop-menu ul li a {
    background: transparent !important;

}

.navbar-nav li ul.sub-menu li a:hover {
    color: #000000;
}



.rm0Cadastro {
    margin-right: 0% !important;
}

.labelsLogin {
    padding: 0 !important;
}

.form-horizontal .control-label,
.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
    margin-bottom: 5px;
}

.col-md-6 {
    width: 54%;
}

.cardProduto {
    max-width: 100% !important;
    width: 300px !important;
    height: 250px !important;

}

.cursoPoint {
    cursor: pointer;
}