.cart_delete a {
    background: #1e337a;
    color: #FFFFFF;
    padding: 5px 7px;
    font-size: 16px;
}

#cart_items .cart_info .image {
    padding-left: 10px;
}

#inputCupom {
    text-transform: uppercase;
}

.cart_delete {
    display: revert;
    margin-right: -12px;
    overflow: hidden;
}

.cart_quantity_delete {
    display: block;
    margin: 0 auto;
    width: 25px;
}

#tableProdutoCarrinho {
    width: 100% !important;
}

#tableProdutoCarrinho_filter label {
    float: right;
}

.pagination {
    float: right;
}

.displayNone {
    display: none;
}

.inputError {
    border-color: #dc3545 !important;
}

.mensagemErro {
    color: #dc3545 !important;
}

.inputSucesso {
    border-color: #28a745;

}

.mensagemSucesso {
    color: #28a745 !important;
}