.img-responsive {
    max-width: 100% !important;
    width: 1065px !important;
    height: 310px !important;
}

.btnAcoesCarousel {
    float: right;
}

.linkcarousel {
    background-color: #c2c2c1;
    color: black
}

.btn {
    border: 0 none;
    border-radius: 0;
    margin-top: 16px;
}

.btn-warning {
    margin-left: 0.5%;
    margin-right: 0.5%;
}

#similar-product .carousel-inner .item .img-add {
    display: inline-block;
    margin-left: 11px;
}

.modal-header {
    min-height: 16.428571429px;
    padding: 20px;
    border-bottom: 1px solid #e5e5e5;
}