.divBtnAcoes {
    padding: 0% 20% 0% 20%;
}

#tableCupom_filter {
    display: none;
}

.btn-acoes {
    margin-left: 4%;
    margin-top: 0;
}

.nomecupom {
    text-transform: uppercase;
}

.modalAddRow {
    margin: 1% 0% 1% 0%;
}

.inputError {
    border-color: #dc3545 !important;
}

.mensagemErro {
    color: #dc3545 !important;
}

.labelcheckbox {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 1%;
}

#checkboxcupom {
    display: block;
    margin: 0 auto;
}